.navbar__button{
  color: $primary-text-color;
  font-family: $font-2;
  font-size: 13px;
  text-align: center;
  padding: 13px 33px;
  background-color: $secondary-color;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  
}

.start-section__button{
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  font-family: $font-2;
  background-color: transparent;
  border: 1px solid $primary-text-color;
  border-radius: 3px;
  padding: 19px 42px 21px 41px;
  margin-right: 20px;
  margin-bottom: 20px;
    &:hover{
      background-color: $secondary-color;
    }
    & + .start-section__button {
      margin-bottom: 0;
    }
}

.scroll-button{
  position: $pos-a;
  top: -49px;
  left: 0;
  z-index: 2;
  @include flex();
  background-color: $primary-color;
  padding: 34px 49px;
  border: 0;
  font-family: $font-5;
  font-size: 14px;
  line-height: 19px;
  color: $primary-text-color;
  vertical-align: center;
    img{
      margin-left: 15px;
      
    }
}

.promo-section__controls {
  
  @include flex($justify:flex-start);
    img {
      margin-right: 29px;
      &:hover {
        cursor: pointer;
      }
    }
    .control-circle {
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: $secondary-text-color;
      margin-right: 16px;
      &:nth-of-type(3){
        margin-right: 29px;
      }
      &:hover {
        background-color: $primary-text-color;
        cursor: pointer;
      }
    }
}

.steps-section__controls {
  margin-top: 110px;
  margin-bottom: 20px;

  @include flex($justify:flex-start);
    img {
      margin-right: 29px;
      &:hover {
        cursor: pointer;
      }
    }
    .control-circle {
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: $secondary-text-color;
      margin-right: 16px;
      &:nth-of-type(6){
        margin-right: 29px;
      }
      &:hover {
        background-color: $primary-text-color;
        cursor: pointer;
      }
    }
}

.form__button {
  margin-bottom: 10px;
  font-family: $font-2;
  font-size: 15px;
  text-align: center;
  color: $primary-text-color;
  background-color: $secondary-color;
  border: 0;
  border-radius: 3px;
  padding: 16px 74px;

}

// FORM CHECKBOX
input[type=checkbox] {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $primary-text-color !important;
}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    font-size: 12px;    
    line-height: 18px;
    margin: -5px 5px 0 0;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    background-color: $secondary-color;
}

input[type=checkbox]:checked + label:before {
    color: $primary-text-color;
}

// end of form checkbox

.pricing-section__button {
  font-family: $font-5;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  color: $primary-text-color;
  padding: 17px 18px;
  background-color: $secondary-color;
  border: 0;
    &:hover {
      background-color: darken($secondary-color, 20%);
    }
}

.design-section__button {
  font-family: $font-5;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  color: $primary-text-color;
  padding: 17px 72px 17px 33px;
  background-color: $secondary-color;
  border: 0;
    &:hover {
      background-color: darken($secondary-color, 20%);
    }
}

.form-free__button {
  font-family: $font-2;
  margin-bottom: 27px;
  font-size: 13px;
  color: $primary-text-color;
  background-color: $secondary-color;
  border: 0;
  padding: 19px 44px;
    
}