@mixin inner() {
  max-width: $desktop;
  margin: 0 auto;
  overflow: hidden;
}

@mixin flex($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin autoM() {
  margin: 0 auto;
}

@mixin form-input($color: $third-text-color) {
  font-size: $fsz-4;
  line-height: 24px;
  font-family: $font-1;
  color: $color;
  text-indent: 0;
  transition: text-indent 0.3s ease;
}

@mixin placeholderAction($value: 500px) {
  text-indent: $value;
  transition: text-indent 0.3s ease;
}
