$font-1: "FuturaBookC", sans-serif;

$font-2: "FuturaDemiC", sans-serif;

$font-3: "FuturaMediumC", sans-serif;

$font-4: "Proxima Nova", sans-serif;

$font-5: "Yeseva One", sans-serif;

$mobile: 375px;

$desktop: 1440px;

$primary-color: #131313;

$primary-text-color: #ffffff;

$secondary-color: #E3B873;

$secondary-text-color:rgba(255, 255, 255, 0.3);

$third-text-color: #363636;

$third-color: rgba(54, 54, 54, 0.5);

$forth-color: #181818;

$forth-text-color: #959595;

$none: none;

$primary-fsz: 14px;

$pos-rel: relative;

$pos-a: absolute;