.testimonials {
  padding-top: 89px;
  background-color: $primary-text-color;
  text-align: center;
    h3 {
      margin-bottom: 13px;
    font-family: $font-5;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    color: $forth-color;
    }
    &__description {
      margin-bottom: 39px;
      font-family: $font-1;
      font-size: 20px;
      line-height: 27px;
      color: $third-text-color;

    }
  }

  .testimonials-content {
    margin-bottom: 100px;
    @include flex($justify:space-around, $align:flex-start);
    flex-wrap: wrap;
      &__box {
        margin-bottom: 59px;
        position: $pos-rel;
        width: 376px;
        padding-top: 24px;
        
        padding-right: 31px;
        
          p {
            padding-left: 20px;
            margin-top: 24px;
            margin-bottom: 83px;
            font-family: $font-1;
            font-size: 15px;
            line-height: 27px;
            color: $forth-text-color;

          }
      }
      &__personal-info {
        @include flex($justify:flex-start, $align:center);
        img {
          margin-right: 24px;
          margin-left: 20px;
        }
        h6 {
          font-family: $font-5;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;      
          color: $forth-color;
        }
      }
  }

  .testimonials-content__info-box {
    position: $pos-a;
    bottom: -27px;
    left: 0;
    @include flex($justify:flex-start, $align:center);
    background-color: $secondary-color;
    width: 298px;
  }

  .testimonials-content__info {
    @include flex($justify:flex-start, $align:center);
    padding: 9px 12px 9px 17px;
    &:first-child {
      border-right: 1px solid $primary-text-color;
    }
    img {
      margin-right: 15px;
    }
    span {
      font-family: $font-5;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;

      color: $primary-text-color;
    }
  }